<!doctype html> {% extends "bootstrap/base.html" %} {% block content %}
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title></title>
  <style>

    .styleCenter{
      margin: auto;
      margin-left: auto;
      margin-right: auto;
      text-align:center;
    }

    .header {
      padding: 10px;
      text-align: center;
      background: #56813A;
      color: white;
    }
    .title {
  padding: 5px;
  text-align: center;
  max-width: 500px;
  margin: auto;
  }

   .command {
   position: fixed;
   left: 0;
   bottom: 30px;
   width: 100%;
   padding: 0px;
   text-align: center;
    }


      .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #56813A;
      color: white;
      text-align: center;  
    }

      #container {
        position:relative;
    }

      #img2 {
        position: absolute;
        left: 150px;
        top: 0px;
    }
       #img3 {
        position: absolute;
        left: 20px;
        top: 0px;
    }
    
    .button {
        border: none;
        /* color: black; */
        padding: 15px 20px;
        /* background-color: #e7e7e7; */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        cursor: pointer;
        width:200px;
        border: 2px solid #4CAF50; 

    }

    .button_white {background-color: #e7e7e7; color: black;} /* Gray */ 
    .button_black {background-color: #555555; color: white;} /* Black */

  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>
    <!-- <form method="POST"> -->

    <div class = "styleCenter">
        <div class = "row">
            <div class = "col align-self-center">
<!--
                    <div class ="header">
                            <br><h1 style=" font-size: 40px; color: white">Tiny Tour Miner</h1></br>
                    </div>
-->
                    <div class ="title">
                        <IMG SRC="/static/headder.png" width=100%>
		   </div> 
            </div>
        </div>
        
        <br>
        <div style="overflow-y: height:600px;">

              <div class = "row">
                  <div class = "col align-self-center">
                      <h1 style=" font-size: 20px;"> <ruby><rb>興味</rb><rt>きょうみ</rt></ruby>があるものを<ruby><rb>選</rb><rt>えら</rt></ruby>んで<ruby><rb>下</rb><rt>くだ</rt></ruby>さい（<ruby><rb>複数選</rb><rt>ふくすうえら</rt></ruby>べます）<form>
                          <!-- <h3 style="text-align:center; font-size: 20px;"><input  style="width:300px;" id="myInputCategories" type="text" name="interest_category" placeholder="Please select category">
                          </h3> -->
                      </form></h1>
                  </div>

              </div>




              
              <div class = "row">
                  <div class = "col align-self-center">

                        <div class="row">
                            <div class = "col align-self-center">
                              
                              <button class="button button_white" id = "button_1"  onclick="myFunction()"><img src="/static/Temple.png" width="30" height="30" > <ruby><rb>寺</rb><rt>てら</rt></ruby></button>
                              <!-- style="background: url('/static/Temple.png'); background-size: 50px 55px;" -->
                              <button class="button button_white" id = "button_2"  onclick="myFunction2()"><img src="/static/Shrine.png" width="30" height="30" > <ruby><rb>神社</rb><rt>じんじゃ</rt></ruby></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col align-self-center">
                                <button class="button button_white" id = "button_3" onclick="myFunction3()"><img src="/static/Castle.png" width="30" height="30" > <ruby><rb>城</rn><rt>しろ</rt></ruby></button>
                                <button class="button button_white" id = "button_4" onclick="myFunction4()"><img src="/static/Historic Site.png" width="30" height="30" > <ruby><rb>歴史</rb><rt>れきし</rt></ruby></button>
                              <!-- <button class="button button_black">Museum2</button> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col align-self-center">
                                <button class="button button_white" id = "button_5" onclick="myFunction5()"><img src="/static/Museum.png" width="30" height="30" > <ruby><rb>博物館</rb><rt>はくぶつかん</rt></ruby></button>
                                <button class="button button_white" id = "button_6" onclick="myFunction6()"><img src="/static/Theme Park.png" width="25" height="30" > テーマパーク</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col align-self-center">
                                <button class="button button_white" id = "button_7" onclick="myFunction7()"><img src="/static/Mall.png" width="40" height="30" > <ruby><rb>買い物</rb><rt>かいもの</rt></ruby></button>
                                <button class="button button_white" id = "button_8" onclick="myFunction8()"><img src="/static/Japanese Restaurant.png" width="30" height="30" > <ruby><rb>食事</rb><rt>しょくじ</rt></ruby></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col align-self-center"> 
                                <button class="button button_white" id = "button_9" onclick="myFunction9()"><img src="/static/BaseballStadium.png" width="30" height="30" > <ruby><rb>野球</rb><rt>やきゅう</rt></ruby></button>
                                <button class="button button_white" id = "button_10" onclick="myFunction10()"><img src="/static/Garden.png" width="30" height="30" > <ruby><rb>庭園</rB><rt>ていえん</rt></ruby></button>
                            </div>
                        </div>
                        <br>
                        <h3 style="text-align:center; font-size: 15px;"><input  style="width:600px;" id="myInputCategoriesEx" type="text" name="interest_categoryEx" placeholder="カテゴリーを選択してください" readonly>
                        </h3>
                  </div>

              </div>

        </div>
                    

        <div class = "command">
            <div class = "col align-self-center">

                        <form action="/" method="get" style="text-align:center;display:inline;padding: 5px">
                          <input type="submit" style="background-color:#56813A;color:white;width:100px;height:40px;font-size:20px;" value="はじめ">
                        </form>

                        <form action="/form_jp" method="get" style="text-align:center;display:inline;padding: 5px">
                            <input type="submit" style="background-color:#56813A;color:white;width:100px;height:40px;font-size:20px;" value="もどる">
                        </form>

                        <form action="/region3_jp" method="POST" style="text-align:center;display:inline;padding: 5px">

                            <input type="submit"onclick="return IsEmpty()" style="background-color:#56813A;color:white;width:100px;height:40px;font-size:20px;" value="つぎへ">
			                      <h3 style="text-align:center; font-size: 15px;display: none"><input  style="width:300px;" id="myInputCategories" type="text" name="interest_category" placeholder="Please select category" readonly></h3>
                        </form>
            </div>

        </div>

        <div class="footer">
            <br>
                <h1 style=" font-size: 14px; color: white; margin: -10px"> Copyright (c) 2019 Yamaguchi Laboratory, All Rights Reserved</h1>
            <br>   
        </div>
    </div>
    <!-- </form> -->
<script>
    var button_1 = document.getElementById("button_1");
    var button_2 = document.getElementById("button_2");
    var button_3 = document.getElementById("button_3");
    var button_4 = document.getElementById("button_4");
    var button_5 = document.getElementById("button_5");
    var button_6 = document.getElementById("button_6");
    var button_7 = document.getElementById("button_7");
    var button_8 = document.getElementById("button_8");
    var button_9 = document.getElementById("button_9");
    var button_10 = document.getElementById("button_10");

    var region_id = document.getElementById("myInputRegions");
    
    function IsEmpty(){
      if(document.getElementById("myInputCategories").value === "" ){
          alert("興味のあるものを選んで下さい");
          return false;
      }
          return true;
    }
    var boolean_btcat1 = false
    var boolean_btcat2 = false
    var boolean_btcat3 = false
    var boolean_btcat4 = false
    var boolean_btcat5 = false
    var boolean_btcat6 = false
    var boolean_btcat7 = false
    var boolean_btcat8 = false
    var boolean_btcat9 = false
    var boolean_btcat10 = false
    
    var str_array = [];

    cat_array = []
    cat_array_jp = []
    function myFunction() {
        // var cate_value = document.getElementById("interest_category")
        if(!boolean_btcat1){
          boolean_btcat1 = true
          button_1.classList.toggle("button_black");
          cat_array.push("Temple")
          cat_array_jp.push("寺")
          
        }else {
          boolean_btcat1 = false
          button_1.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Temple") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "寺") 
        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }

    function myFunction2() {
        if(!boolean_btcat2){
          boolean_btcat2 = true
          button_2.classList.toggle("button_black");
          cat_array.push("Shrine")
          cat_array_jp.push("神社")

        }else {
          boolean_btcat2 = false
          button_2.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Shrine") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "神社") 

        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }

    function myFunction3() {
        if(!boolean_btcat3){
          boolean_btcat3 = true
          button_3.classList.toggle("button_black");
          cat_array.push("Castle")
          cat_array_jp.push("城")

        }else {
          boolean_btcat3 = false
          button_3.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Castle") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "城") 

        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }

    function myFunction4() {
        if(!boolean_btcat4){
          boolean_btcat4 = true
          button_4.classList.toggle("button_black");
          cat_array.push("Historic Site")
          cat_array_jp.push("歴史")

        }else {
          boolean_btcat4 = false
          button_4.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Historic Site") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "歴史") 

        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }

    function myFunction5() {
        if(!boolean_btcat5){
          boolean_btcat5 = true
          button_5.classList.toggle("button_black");
          cat_array.push("Museum")
          cat_array_jp.push("博物館")

        }else {
          boolean_btcat5 = false
          button_5.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Museum") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "博物館") 

        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }

    function myFunction6() {
        if(!boolean_btcat6){
          boolean_btcat6 = true
          button_6.classList.toggle("button_black");
          cat_array.push("Theme Park")
          cat_array_jp.push("テーマパーク")

        }else {
          boolean_btcat6 = false
          button_6.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Theme Park") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "テーマパーク") 

        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }

    function myFunction7() {
        if(!boolean_btcat7){
          boolean_btcat7 = true
          button_7.classList.toggle("button_black");
          cat_array.push("Mall")
          cat_array_jp.push("買い物")

        }else {
          boolean_btcat7 = false
          button_7.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Mall") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "買い物") 

        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }

    function myFunction8() {
        if(!boolean_btcat8){
          boolean_btcat8 = true
          button_8.classList.toggle("button_black");
          cat_array.push("Japanese Restaurant")
          cat_array_jp.push("食事")

        }else {
          boolean_btcat8 = false
          button_8.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Japanese Restaurant") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "食事") 

        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }

      function myFunction9() {
      if(!boolean_btcat9){
          boolean_btcat9 = true
          button_9.classList.toggle("button_black");
          cat_array.push("Baseball Stadium")
          cat_array_jp.push("野球")

        }else {
          boolean_btcat9 = false
          button_9.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Baseball Stadium") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "野球") 

        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }

    function myFunction10() {
       if(!boolean_btcat10){
          boolean_btcat10 = true
          button_10.classList.toggle("button_black");
          cat_array.push("Garden")
          cat_array_jp.push("庭園")

        }else {
          boolean_btcat10 = false
          button_10.classList.remove("button_black");
          cat_array = cat_array.filter(x=> x !== "Garden") 
          cat_array_jp = cat_array_jp.filter(x=> x !== "庭園") 

        }
        document.getElementById("myInputCategories").value = cat_array
        document.getElementById("myInputCategoriesEx").value = cat_array_jp

    }
</script>
</body>

</html>
{% endblock %}


