<!doctype html> {% extends "bootstrap/base.html" %} {% block content %}
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title></title>
  <style>

    .styleCenter{
      margin: auto;
      margin-left: auto;
      margin-right: auto;
      text-align:center;
    }

    .header {
      padding: 10px;
      text-align: center;
      background: #56813A;
      color: white;
    }

      .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #56813A;
      color: white;
      text-align: center;  
    }

      #container {
        position:relative;
    }

      #img2 {
        position: absolute;
        left: 150px;
        top: 0px;
    }
       #img3 {
        position: absolute;
        left: 20px;
        top: 0px;
    }
    
    .button {
        border: none;
        /* color: black; */
        padding: 15px 32px;
        /* background-color: #e7e7e7; */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        width:200px;
    }

    .button_white {background-color: #e7e7e7; color: black;} /* Gray */ 
    .button_black {background-color: #555555; color: white;} /* Black */

  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>
    <!-- <form method="POST"> -->

    <div class = "styleCenter">
        <div class = "row">
            <div class = "col align-self-center">
                    <div class ="header">
                            <br><h1 style=" font-size: 40px; color: white">Tiny Tour Miner</h1></br>
                    </div>
            </div>
        </div>
        <br>
        
        <br>
        <div style="overflow-y: scroll; height:600px;">

              <div class = "row">
                  <div class = "col align-self-center">
                      <h1 style=" font-size: 20px;"> Select Your Interest Category<form>
                          <!-- <h3 style="text-align:center; font-size: 20px;"><input  style="width:300px;" id="myInputCategories" type="text" name="interest_category" placeholder="Please select category">
                          </h3> -->
                      </form></h1>
                  </div>

                <div class = "col align-self-center">
                    <div class = "col align-self-center">
                        <h1 style=" font-size: 20px;"> Select Your Interest Regions<form>
                            <!-- <h3 style="text-align:center; font-size: 20px;"><input style="width:300px; " id="myInputRegions" type="text" name="interest_region" placeholder="Please select region"> -->
                        </form></h1>                        
                    </div>
                </div>
              </div>




              
              <div class = "row">
                  <div class = "col align-self-center">

                        <div class="row">
                            <div class = "col align-self-center">
                              
                              <button class="button button_white" id = "button_1"  onclick="myFunction()"><img src="/static/Temple.png" width="30" height="30" > Temple</button>
                              <!-- style="background: url('/static/Temple.png'); background-size: 50px 55px;" -->
                              <button class="button button_white" id = "button_2"  onclick="myFunction2()"><img src="/static/Shrine.png" width="30" height="30" > Shrine</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col align-self-center">
                                <button class="button button_white" id = "button_3" onclick="myFunction3()"><img src="/static/Castle.png" width="30" height="30" > Castle</button>
                                <button class="button button_white" id = "button_4" onclick="myFunction4()"><img src="/static/Historic Site.png" width="30" height="30" > Historic</button>
                              <!-- <button class="button button_black">Museum2</button> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col align-self-center">
                                <button class="button button_white" id = "button_5" onclick="myFunction5()"><img src="/static/Museum.png" width="30" height="30" > Museum</button>
                                <button class="button button_white" id = "button_6" onclick="myFunction6()"><img src="/static/Theme Park.png" width="25" height="30" > Theme Park</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col align-self-center">
                                <button class="button button_white" id = "button_7" onclick="myFunction7()"><img src="/static/Mall.png" width="40" height="30" > Mall</button>
                                <button class="button button_white" id = "button_8" onclick="myFunction8()"><img src="/static/Japanese Restaurant.png" width="30" height="30" > Restaurant</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col align-self-center"> 
                                <button class="button button_white" id = "button_9" onclick="myFunction9()"><img src="/static/Baseball Stadium.png" width="30" height="30" > Baseball</button>
                                <button class="button button_white" id = "button_10" onclick="myFunction10()"><img src="/static/Garden.png" width="30" height="30" > Garden</button>
                            </div>
                        </div>
                        
                  </div>

                <div class = "col align-self-center">

                  <div class = "row">
                    <div class = "col align-self-center">

                        <div id="container" >
                            <!-- <img src ='/static/Building.png'> -->
                            <img src="{{url_for('static', filename='regionsOfJapan.png')}}" width="470" height="400" usemap="#regionmap"/>
                            <map name="regionmap">
                              <!-- x1 ,y1 ,x2 ,y2 -->
                                <area shape="rect" coords="320,10,440,100" alt="Hokkaido" onclick="return region_hokkaido()" >
                                <!-- <area shape="rect" coords="320,10,440,100" alt="Hokkaido" onclick= "document.forms[2].elements['interest_region'].value = 'Hokkaido' "> -->
                                <!-- href="../static/Hokkaido.png" -->
                                <area shape="rect" coords="310,110,370,225" alt="Tohoku" onclick="return region_tohoku()" >
                                <area shape="rect" coords="283,230,340,277" alt="Kanto" onclick="return region_kanto()" >
                                <area shape="rect" coords="220,200,300,290" alt="Chubu" onclick="return region_chubu()" >
                                <area shape="rect" coords="185,250,230,310" alt="Kansai" onclick="return region_kansai()" >
                                <area shape="rect" coords="90,250,180,285" alt="Chugoku" onclick="return region_chugoku()" >
                                <!-- <area shape="rect" coords="115,285,180,330" alt="Shikoku" onclick= "document.forms[0].elements['interest_region'].value = 'Shikoku'"> -->
                                <area shape="rect" coords="45,285,115,380" alt="Kyushu" onclick="return region_kyushu()" >
                                <!-- <area shape="rect" coords="175,335,260,390" alt="Okinawa" onclick= "document.forms[0].elements['interest_region'].value = 'Okinawa'"> -->
                                <!-- Shikoku & Okinawa is no data -->
                            </map>
                        </div>

                    </div>
                  </div>


                </div>
              </div>

                    
              <br>
              <form method="POST">

              <div class = "row">
                  <div class = "col align-self-center">
                      <h3 style="text-align:center; font-size: 20px;"><input  style="width:300px;" id="myInputCategories" type="text" name="interest_category" placeholder="Please select category">
                        <!-- <h3 style="text-align:center; font-size: 20px;"><input  style="width:300px; display: none;" id="myInputCategories" type="text" name="interest_category" placeholder="Please select category"> -->
                      </h3>
                          <form action="/" method="post" style="text-align:center">
                              <input type="submit" style="background-color:#98BC65;color:white;width:150px;height:40px;font-size:17px;" value="Home" >
                          </form>
                  </div>
<!-- 
                  <div class = "col align-self-center">
                          <form action="/" method="GET" style="text-align:center">
                              <input type="submit" style="background-color:#98BC65;color:white;width:150px;height:40px;" value="Back">
                          </form>
                  </div> -->

                  <div class = "col align-self-center">
                      <h3 style="text-align:center; font-size: 20px;"><input style="width:300px; " id="myInputRegions" type="text" name="interest_region" placeholder="Please select region">
                      </h3>
                          <!-- <form action="/" method="post" style="text-align:center"> -->
                              <input type="submit" onclick="return IsEmpty()" style="background-color:#98BC65;color:white;width:150px;height:40px;font-size:17px;" value="Next">
                          <!-- </form> -->
                  </div>
              </div>
              </form>
              <br>

        </div>

        <div class="footer">
            <br>
            <h1 style=" font-size: 10px; color: white"> Copyright (c) 2019 Yamaguchi  Laboratory, All Rights Reserved</h1>
            <br>   
        </div>
    </div>
    <!-- </form> -->
<script>
    var button_1 = document.getElementById("button_1");
    var button_2 = document.getElementById("button_2");
    var button_3 = document.getElementById("button_3");
    var button_4 = document.getElementById("button_4");
    var button_5 = document.getElementById("button_5");
    var button_6 = document.getElementById("button_6");
    var button_7 = document.getElementById("button_7");
    var button_8 = document.getElementById("button_8");
    var button_9 = document.getElementById("button_9");
    var button_10 = document.getElementById("button_10");
    
    function IsEmpty(){
      if(document.getElementById("myInputCategories").value === "" ){
          alert("Please Select Your Interest Category");
          return false;
      }
          return true;
    }

    function region_hokkaido() {
        document.getElementById("myInputRegions").value = "Hokkaido"
    }
    function region_tohoku() {
        document.getElementById("myInputRegions").value = "Tohoku"
    }
    function region_kanto() {
        document.getElementById("myInputRegions").value = "Kanto"
    }
    function region_chubu() {
        document.getElementById("myInputRegions").value = "Chubu"
    }
    function region_kansai() {
        document.getElementById("myInputRegions").value = "Kinki"
    }
    function region_chugoku() {
        document.getElementById("myInputRegions").value = "Chugoku"
    }
    function region_kyushu() {
        document.getElementById("myInputRegions").value = "Kyushu"
    }

    function myFunction() {
        // var cate_value = document.getElementById("interest_category")
        button_1.classList.toggle("button_black");
        button_2.classList.remove("button_black");
        button_3.classList.remove("button_black");
        button_4.classList.remove("button_black");
        button_5.classList.remove("button_black");
        button_6.classList.remove("button_black");
        button_7.classList.remove("button_black");
        button_8.classList.remove("button_black");
        button_9.classList.remove("button_black");
        button_10.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Temple"
    }
    function myFunction2() {
        button_2.classList.toggle("button_black");
        button_1.classList.remove("button_black");
        button_3.classList.remove("button_black");
        button_4.classList.remove("button_black");
        button_5.classList.remove("button_black");
        button_6.classList.remove("button_black");
        button_7.classList.remove("button_black");
        button_8.classList.remove("button_black");
        button_9.classList.remove("button_black");
        button_10.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Shrine";
    }
    function myFunction3() {
        button_3.classList.toggle("button_black");
        button_2.classList.remove("button_black");
        button_1.classList.remove("button_black");
        button_4.classList.remove("button_black");
        button_5.classList.remove("button_black");
        button_6.classList.remove("button_black");
        button_7.classList.remove("button_black");
        button_8.classList.remove("button_black");
        button_9.classList.remove("button_black");
        button_10.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Castle";
    }
    function myFunction4() {
        button_4.classList.toggle("button_black");
        button_2.classList.remove("button_black");
        button_3.classList.remove("button_black");
        button_1.classList.remove("button_black");
        button_5.classList.remove("button_black");
        button_6.classList.remove("button_black");
        button_7.classList.remove("button_black");
        button_8.classList.remove("button_black");
        button_9.classList.remove("button_black");
        button_10.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Baseball Stadium";
    }
    function myFunction5() {
        button_5.classList.toggle("button_black");
        button_2.classList.remove("button_black");
        button_3.classList.remove("button_black");
        button_4.classList.remove("button_black");
        button_1.classList.remove("button_black");
        button_6.classList.remove("button_black");
        button_7.classList.remove("button_black");
        button_8.classList.remove("button_black");
        button_9.classList.remove("button_black");
        button_10.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Museum";
    }
    function myFunction6() {
        button_6.classList.toggle("button_black");
        button_2.classList.remove("button_black");
        button_3.classList.remove("button_black");
        button_4.classList.remove("button_black");
        button_5.classList.remove("button_black");
        button_1.classList.remove("button_black");
        button_7.classList.remove("button_black");
        button_8.classList.remove("button_black");
        button_9.classList.remove("button_black");
        button_10.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Theme Park";
    }
    function myFunction7() {
        button_7.classList.toggle("button_black");
        button_2.classList.remove("button_black");
        button_3.classList.remove("button_black");
        button_4.classList.remove("button_black");
        button_5.classList.remove("button_black");
        button_6.classList.remove("button_black");
        button_1.classList.remove("button_black");
        button_8.classList.remove("button_black");
        button_9.classList.remove("button_black");
        button_10.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Mall";
    }
    function myFunction8() {
        button_8.classList.toggle("button_black");
        button_2.classList.remove("button_black");
        button_3.classList.remove("button_black");
        button_4.classList.remove("button_black");
        button_5.classList.remove("button_black");
        button_6.classList.remove("button_black");
        button_7.classList.remove("button_black");
        button_1.classList.remove("button_black");
        button_9.classList.remove("button_black");
        button_10.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Japanese Restaurant";
    }
    function myFunction9() {
        button_9.classList.toggle("button_black");
        button_2.classList.remove("button_black");
        button_3.classList.remove("button_black");
        button_4.classList.remove("button_black");
        button_5.classList.remove("button_black");
        button_6.classList.remove("button_black");
        button_7.classList.remove("button_black");
        button_8.classList.remove("button_black");
        button_1.classList.remove("button_black");
        button_10.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Historic Site";

    }
    function myFunction10() {
        button_10.classList.toggle("button_black");
        button_2.classList.remove("button_black");
        button_3.classList.remove("button_black");
        button_4.classList.remove("button_black");
        button_5.classList.remove("button_black");
        button_6.classList.remove("button_black");
        button_7.classList.remove("button_black");
        button_8.classList.remove("button_black");
        button_9.classList.remove("button_black");
        button_1.classList.remove("button_black");
        document.getElementById("myInputCategories").value = "Garden";

    }
</script>
</body>

</html>
{% endblock %}


